# --- Django ---
*.pyc
__pycache__/
db.sqlite3
/staticfiles/
media/
logs/
*.log

# --- Environnements ---
.env
venv/
env/
.env.bak
.env.local

# --- IDE / éditeurs ---
.vscode/
.idea/
*.swp
*.swo

# --- Système ---
.DS_Store
Thumbs.db

# --- Docker ---
*.pid
*.sock

# --- Node / Tailwind ---
node_modules/
theme/static_src/node_modules/
theme/static_src/package-lock.json
theme/static_src/package.json
theme/static_src/dist/
